@model ProjeTakip.Models.kullanici

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>kullanici</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.kul_isim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kul_isim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kul_mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kul_mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kul_sifre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kul_sifre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kul_telefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kul_telefon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kul_yetki)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kul_yetki)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.kul_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
