@model ProjeTakip.Models.tur

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>tur</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tur_ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tur_ad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tur_kisa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tur_kisa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.tur_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
